.regresar {
  color: #008CBA;
  text-decoration: none;
}

.fond {
  background-color: #f2f2f2;
  padding: 20px;
}

.fond header {
  background-color: #008CBA;
  padding: 10px;
  color: #fff;
}

.fond header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fond header ul li {
  display: inline-block;
  margin-right: 10px;
}

.fond header ul li a {
  color: #fff;
  text-decoration: none;
}

.centered-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.profile-header {
  margin-top: 20px;
}

.profile-header h2 {
  margin: 5px 0;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.profile-info {
  flex: 1;
  text-align: left;
}

.profile-actions {
  flex: 1;
  text-align: right;
}

.edit-button,
.save-button,
.delete-button {
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-button:hover,
.save-button:hover,
.delete-button:hover {
  background-color: #004466;
}
