<header>
  <p class="header-text">Perfil</p>
  <p><a href="/login" class="header-link">cerrar sesion</a></p>
</header>

<div *ngIf="doctor" class="doctor-profile">
  <h2 class="profile-title">Perfil del doctor</h2>
  <p><strong class="doctor-info-label">Numero de documento:</strong> {{ doctor.id_doctor }}</p>
  <p><strong class="doctor-info-label">Nombre:</strong> {{ doctor.nombre }}</p>
  <p><strong class="doctor-info-label">Apellido:</strong> {{ doctor.apellido }}</p>
  <p><strong class="doctor-info-label">Especialidad:</strong> {{ doctor.especialidad_id }}</p>
  <p><strong class="doctor-info-label">Consultorio:</strong> {{ doctor.consultorio }}</p>
  <p><strong class="doctor-info-label">Correo:</strong> {{ doctor.correo }}</p>
</div>
