header {
    font-size: 22px;
    background-color: #087ca0;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 5px;
  }
  
  nav ul li a:hover {
    color: #cec10a;
    font-weight: bold;
  }
  