<div class="container">
  <form class="form" [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="tipoPersona">Tipo de persona:</label>
      <div class="form-group">

        <div class="button-group">
          <button type="button" (click)="tipoPersona = 'paciente'" [class.active]="tipoPersona === 'paciente'">Paciente</button>
          <button type="button" (click)="tipoPersona = 'doctor'" [class.active]="tipoPersona === 'doctor'">Doctor</button>
        </div>
      </div>

      
    </div>

    <!-- Datos en común -->
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" required>
    </div>

    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" formControlName="apellido" required>
    </div>

    <!-- Datos para pacientes -->
    <div *ngIf="esPaciente()" class="form-group">
      <label for="tipoDocumento">Tipo de documento:</label>
      <select id="tipoDocumento" formControlName="tipoDocumento" required>
        <option value="cedula">Cédula</option>
        <option value="tarjetaIdentidad">Tarjeta de identidad</option>
        <option value="pasaporte">Pasaporte</option>       
      </select>
    </div>

    <div *ngIf="esPaciente()" class="form-group">
      <label for="numeroDocumento">Número de documento:</label>
      <input type="text" id="numeroDocumento" formControlName="numeroDocumento" required>
    </div>

    <div *ngIf="esPaciente()" class="form-group">
      <label for="fechaNacimiento">Fecha de nacimiento:</label>
      <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento" required>
    </div>

    <div *ngIf="esPaciente()" class="form-group">
      <label for="edad">Edad:</label>
      <input type="number" id="edad" formControlName="edad" [readonly]="true">
    </div>

    <div *ngIf="esPaciente()" class="form-group">
      <label for="telefono">Teléfono o celular:</label>
      <input type="tel" id="telefono" formControlName="telefono" required>
    </div>

    <!-- Datos para doctores -->
    <div *ngIf="esDoctor()" class="form-group">
      <label for="especializacion">Especialización:</label>
      <select id="especializacion" formControlName="especializacion" required>
        <option value="medicinaGeneral">Medicina General</option>
        <option value="cardiologia">Cardiología</option>
        <option value="medicinaInterna">Medicina Interna</option>
        <option value="dermatologia">Dermatología</option>
        <option value="rehabilitacionFisica">Rehabilitación Física</option>
        <option value="psicologia">Psicología</option>
        <option value="odontologia">Odontología</option>
        <option value="radiologia">Radiología</option>
      </select>
    </div>

    <div *ngIf="esDoctor()" class="form-group">
      <label for="consultorio">Consultorio:</label>
      <input type="text" id="consultorio" formControlName="consultorio" required>
    </div>

    <div *ngIf="esDoctor()" class="form-group">
      <label for="correo">Correo:</label>
      <input type="text" id="correo" formControlName="correo" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required placeholder="ejemplo@gmail.com">
      <small class="form-text text-muted" *ngIf="formulario.get('correo')?.errors?.['pattern']">Ingrese un correo electrónico válido.</small>
    </div>

    <button class="register" type="submit">Registrarse</button>
  </form>
</div>
