*{
  font-family: monospace;
}
.regresar {
  color: #008CBA;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.botonp, .botond {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.botonp {
  background-color: #333;
}

.botond {
  background-color: #333;
}

.botonp.active, .botond.active {
  background-color:  #4CAF50;
}
.botond.active, .botond.active{
  background-color: #F29100;
}

.form {
  margin-top: 20px;
}

.form h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register {
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
