<div class="form-container">
    <h1>Registro</h1>
    
    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>
      </div>
      
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" [(ngModel)]="apellido" required>
      </div>
      
      <div class="form-group">
        <label for="tipoDocumento">Tipo de documento:</label>
        <select id="tipoDocumento" name="tipoDocumento" [(ngModel)]="tipoDocumento" required>
          <option value="DNI">Targeta de Identidad</option>
          <option value="Pasaporte">Pasaporte</option>
          <option value="Cédula">Cédula</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="numeroDocumento">Número de documento:</label>
        <input type="text" id="numeroDocumento" name="numeroDocumento" [(ngModel)]="numeroDocumento" required>
      </div>
      
      <div class="form-group">
        <label for="fechaNacimiento">Fecha de nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="fechaNacimiento" required>
      </div>
      
      <div class="form-group">
        <label for="telefono">Teléfono o celular:</label>
        <input type="text" id="telefono" name="telefono" [(ngModel)]="telefono" required>
      </div>
      
      <div class="form-group">
        <button type="submit">Registrarme</button>
      </div>
    </form>
  </div>
  