<p class="h1 text-center col-md-3">CITAS MÉDICAS</p>
<form>
    <div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="name">Documento del paciente</label>
                <input type="name" class="form-control" id="name" placeholder="Nombre">
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Especialidad</label>
                <select id="inputState" class="form-control">
                <option selected>Escoja</option>
                <option>Medicina General</option>
                <option>Cardiología</option>
                <option>Medicina interna</option>
                <option>Dermatología</option>
                <option>Rehabilitación física</option>
                <option>Psicología</option>
                <option>Odontología</option>
                <option>Radiología</option>
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

