

<img src="./assets/logo.jpg" class="img-responsive" style="width: 100% "/>
<div style="position: absolute; left: calc(600px/2 - 40px); top: calc(400px/2 - 10px);">
    <div routerLinkActive="active">
        <button routerLink="/pacientes" type="button" class="btn btn-danger btn-lg btn-block" style= "margin: 10px" >FORMULARIO PARA PACIENTES</button>
    </div>
    <div routerLinkActive="active">
        <button routerLink="/doctores" type="button" class="btn btn-warning btn-lg btn-block" style= "margin: 10px">FORMULARIO PARA DOCTORES</button>
    </div>
    <div routerLinkActive="active">
        <button routerLink="/citaMedica" type="button" class="btn btn-info btn-lg btn-block" style= "margin: 10px">FORMULARIO PARA CITAS</button>
    </div>

</div>