.fond {
  background-color: #f2f2f2;
  padding: 20px;
}

.header {
  background-color: #008CBA;
  padding: 10px;
  color: #fff;
}

.navbar {
  margin-bottom: 20px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

.centered-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.buttons {
  margin-top: 20px;
}

.editarPerfil,
.Guardar,
.eliminarPerfil {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.editarPerfil:hover,
.Guardar:hover,
.eliminarPerfil:hover {
  background-color: #45a049;
}
