<header class="header">
  <p class="header-text">Perfil</p>
  <p><a href="/cita" class="header-link">Agendar cita</a></p>
  <p><a href="/login" class="header-link">Cerrar sesión</a></p>
</header>

<div *ngIf="paciente" class="patient-profile">
  <h2 class="profile-title">Perfil del paciente</h2>
  <p><strong class="patient-info-label">Número de documento:</strong> {{ paciente.id_paciente }}</p>
  <p><strong class="patient-info-label">Nombre:</strong> {{ paciente.nombre }}</p>
  <p><strong class="patient-info-label">Apellido:</strong> {{ paciente.apellido }}</p>
  <p><strong class="patient-info-label">Edad:</strong> {{ paciente.edad }}</p>
  <p><strong class="patient-info-label">Teléfono:</strong> {{ paciente.telefono }}</p>
</div>
