
<div class="container">
    <h2>Perfil de Usuario</h2>
    
    <img src="#" alt="">

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <p id="nombre">{{ nombre }}</p>
      <p>Wilson</p>
    </div>
    
    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <p id="apellido">{{ apellido }}</p>
      <p>Serrato Garzón</p>
    </div>
    
    <div class="form-group">
      <label for="cedula">Número de Cédula:</label>
      <p id="cedula">{{ cedula }}</p>
      <p>123456789</p>
    </div>
    
    <div class="form-group">
      <label for="edad">Edad:</label>
      <p id="edad">{{ edad }}</p>
      <p>100</p>
    </div>
    
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <p id="telefono">{{ telefono }}</p>
      <p>987654321</p>
    </div>
    
    <div class="buttons">
      <button (click)="editarPerfil()">Editar Perfil</button>
      <button (click)="eliminarPerfil()">Eliminar Perfil</button>
    </div>
  </div>
  