<div class="fond">
  <header class="header">
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/perfilp" routerLinkActive="active">Perfil Paciente</a>
        </li>
        <li class="nav-item">
          <a routerLink="/cita" routerLinkActive="active">Agendar Cita</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" routerLinkActive="active">Cerrar Sesión</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="centered-container">
    <h2>Perfil de Usuario</h2>

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <p id="nombre">{{ nombre }}</p>
    </div>

    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <p id="apellido">{{ apellido }}</p>
    </div>

    <div class="form-group">
      <label for="cedula">Número de Cédula:</label>
      <p id="cedula">{{ cedula }}</p>
    </div>

    <div class="form-group">
      <label for="edad">Edad:</label>
      <p id="edad">{{ edad }}</p>
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <p id="telefono">{{ telefono }}</p>
    </div>

    <div class="buttons">
      <button class="editarPerfil" (click)="editarPerfil()">Editar Perfil</button>
      <button class="Guardar" (click)="guardarPerfil()">Guardar</button>
      <button class="eliminarPerfil" (click)="eliminarPerfil()">Eliminar Perfil</button>
    </div>
  </div>
</div>
