<div class="login-container">
  <h2>API SALUD

  </h2>
  <form (ngSubmit)="iniciarSesion()">
    <div class="form-group">
      
      <label for="numeroIdentificacion">Número de Identificación:</label>
      <input type="text" id="numeroIdentificacion" name="numeroIdentificacion" [(ngModel)]="numeroIdentificacion" required>
    </div>
    <button type="submit">Iniciar como paciente</button>
    <button type="button" (click)="iniciarSesionDoctor()">Iniciar como doctor</button>
    <p><a href="/formulario">Registrarse</a></p>
  </form>
</div>
